/* This file is for your main application css. */

/* @import "./phoenix.css"; */

@import "./spectre.min.css";
@import "./spectre-icons.min.css";
@import "./spectre-exp.min.css";

.task-card {
    width: 24rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    box-shadow: 0 .25rem 1rem rgba(48,55,66,.15);
}

.status-chip {
    float: right;
}

.glare-code {
    overflow-x: auto;
}
